---
---

@import "minimal-light-no-dark-mode";


/* === Custom overrides === */
body, .wrapper {
  background-color: #f4f4f4 !important;
  color: #595959 !important;
}

a {
  color: #85bef9 !important;
}

h1, h2 {
  color: #0e2140 !important;
}

header, footer {
  background-color: #f4f4f4 !important;
}
